<div class="container">
  <ul class="breadcrumb">
    <li><a href="/apps">Apps</a> <span class="divider">/</span></li>
    <li class="active"><%= @app.name %></li>
  </ul>
</div>
<div class="container">
  <%= form_tag("#{@app.appleId}/notifications", :controller => "notifications", :action => "new", :method => "post", :class => "form-horizontal") do %>
    <legend>Send a Push Notification</legend>
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <%= text_field_tag "title", nil, :placeholder => "Small titles only please..." %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">URL</label>
      <div class="controls">
        <%= text_field_tag "URL", nil, :placeholder => "Fully qualified URL" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <%= text_area_tag "description", nil, :rows => 10, :cols => 10 %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn"><i class="icon-share-alt"></i>Send</button>
      </div>
    </div>
  <% end %>
</div>