<div class="container">
  <ul class="breadcrumb">
    <li><a href="/apps">Apps</a> <span class="divider">/</span></li>
    <li class="active"><%= @app.name %></li>
  </ul>
</div>
<div class="container">
  <%= form_tag("#{@app.appId}/notifications", :controller => "notifications", :action => "new", :method => "post", :class => "form-horizontal") do %>
    <legend>Send a Push Notification</legend>
    <ul class="nav nav-tabs notification-tabs">
      <li class="active"><a href="#" data-toggle="broadcast">Broadcast</a></li>
      <li><a href="#" data-toggle="urlBroadcast">URL Broadcast</a></li>
      <li><a href="#" data-toggle="myIGN">MyIGN</a></li>
      <li><a href="#" data-toggle="deviceToken">Device Token</a></li>
    </ul>
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <%= text_field_tag "title", nil, :placeholder => "Small titles only please...", :autocomplete => "off", :class => "span6", :required => true %>
      </div>
    </div>
    <div class="control-group hide urlBroadcast optional-notify">
      <label class="control-label">URL</label>
      <div class="controls">
        <%= text_field_tag "URL", nil, :placeholder => "Fully qualified URL", :autocomplete => "off", :class => "span6" %>
      </div>
    </div>
    <div class="control-group hide myIGN optional-notify">
      <label class="control-label">MyIGN ID</label>
      <div class="controls">
        <%= text_field_tag "myignid", nil, :autocomplete => "off", :class => "span6" %>
      </div>
    </div>
    <div class="control-group hide deviceToken optional-notify">
      <label class="control-label">Device Token</label>
      <div class="controls">
        <%= text_field_tag "deviceToken", nil, :autocomplete => "off", :class => "span6" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <%= text_area_tag "description", nil, :rows => 10, :class => "span6", :required => true %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn"><i class="icon-share-alt"></i> Send</button>
      </div>
    </div>
  <% end %>
</div>